<div class="about">
    <div class="container">
        <div class="text-center">
            <h2>WHAT IS QR CODE ?  </h2>
            <div class="col-md-10 col-md-offset-1">
                <p>
                    A QR Code is a two-dimensional square barcode which can store encoded data.
                    Most of the time the data is a link to a website (URL).
                </p>
            </div>

            <div class="text-center">
                <h2>INTRODUCTION  </h2>
                <div class="text-center">
                    <div class="col-md-10 col-md-offset-1">
                        <p>
                            Today, QR Codes can be seen on flyers, posters, magazines, and so on. You can easily spot these two-dimensional barcodes around you.
                            QR Codes let you interact with the world using your smartphone.

                            Specifically, a QR Code extends the data at disposal on any physical object and create a digital extent to marketing operations.
                            This technology enables and speeds up the use of mobile web services: it is a very creative digital tool.
                        </p>
                    </div>

                    <div class="text-center">
                        <h2>HISTORY </h2>
                        <div class="text-center">
                            <div class="col-md-10 col-md-offset-1">
                                <p>
                                    QR Codes were created in 1994 by Denso Wave, a Japanese subsidiary in the Toyota Group. The use of this technology is now free.
                                    The QR Code is not the only two-dimensional barcode in market, another example is the Data Matrix code.

                                    QR Code is the most famous 2D barcode in the world. It has gained its success in Japan since the 2000s where he is now a standard.
                                    In 2011, an average of 5 QR Codes were scanned daily by each Japanese - more than the average number of SMS sent!
                                    In 2010 QR Codes started to expand in the USA then in Europe where they can notably be seen in advertisements.
                                </p>
                            </div>


                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-gamp"><a href="#">Learn More</a></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="gamp-btn"><a href="#">download</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>

                <section id="about-us">
                    <div class="container">
                        <div class="text-center wow fadeInDown">

                        </div>
                        <div class="skill-wrap clearfix">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                                        <div class="joomla-skill">
                                            <p><em>85%</em></p>
                                            <p>Joomla</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                                        <div class="html-skill">
                                            <p><em>95%</em></p>
                                            <p>HTML</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                                        <div class="css-skill">
                                            <p><em>80%</em></p>
                                            <p>CSS</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                                        <div class="wp-skill">
                                            <p><em>90%</em></p>
                                            <p>Wordpress</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                </section><!--/about-us-->
